<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<title>Cafe-Indonesia</title>
	</head>
	<body>
		<a href="#mainContent" class="skip-link">Skip to content</a>

		<header class="hero">
			<div class="app-bar">
				<span><a class="app-bar_logo" href="/" tabindex="-1">CafeIn</a></span>
				<button id="menuButton" class="menu-button" aria-label="Navigation Menu">≡</button>
				<nav id="drawer" class="nav">
					<ul class="nav-list">
						<li class="nav-list_item">
							<a href="/">Beranda</a>
						</li>

						<li class="nav-list_item">
							<a href="#/favorite">Favorit</a>
						</li>

						<li class="nav-list_item">
							<a
								href="https://github.com/fawwaz-m-umam"
								target="_blank"
								rel="noopener noreferrer"
							>
								Tentang
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="hero-content">
				<h1 class="hero-title">Mau Makan di mana?</h1>
				<p class="hero-tagline">
					Restoran <span class="highlight">Terbaik</span> dengan menu spesial
					<span class="highlight">ada di sini!</span>
				</p>
			</div>
		</header>

		<main>
			<section id="mainContent" class="content">
				<div class="loading"></div>
			</section>
		</main>

		<footer>
			<p>
				-- copyright &copy; 2023 -
				<a href="https://github.com/fawwaz-m-umam">CafeIn</a> --
			</p>
		</footer>
	</body>
</html>
