@media screen and (max-width: 499px) {
	.app-bar {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 55px 1fr;
	}

	.nav {
		position: absolute;
		transform: translate(-500px, 0);
		opacity: 0;
		transition: transform 0.5s ease-in;
	}

	.nav.open {
		position: relative;
		padding-bottom: 20px;
		grid-column-start: 1;
		grid-column-end: 3;
		opacity: 1;
		transform: translate(0, 0);
	}

	.nav-list_item {
		width: 100%;
		padding: 18px 15px;
		display: inline-block;
		border-bottom: 1px solid #bbbbbb;
		text-align: left;
	}
}

@media screen and (min-width: 500px) {
	.menu-button {
		display: none;
	}

	.nav-list {
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		min-height: 460px;
	}

	.hero-title {
		letter-spacing: 3px;
		font-size: 40px;
	}

	.hero-tagline {
		font-size: 16px;
	}
}
